NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DEMO_MODE=true
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_WORKSPACE_DOMAIN
GEMINI_API_KEY=
SLACK_BOT_TOKEN=
SLACK_REVIEW_CHANNEL=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
EXTERNAL_SUPABASE_URL=
EXTERNAL_SUPABASE_SERVICE_ROLE_KEY=
